<nav
  _ngcontent-lmc-c43=""
  class="navbar navbar-expand-lg navbar-dark bg-primary text-center">
  <a _ngcontent-lmc-c43="" class="navbar-brand">
    <img
      src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/flipkart-plus_8d85f4.png"
      alt=""
      class="w-25" /><img
      src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/plus_aef861.png"
      alt=""
      class="h-0" /></a><button
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor02"
    aria-controls="navbarColor02"
    aria-expanded="false"
    aria-label="Toggle navigation"
    class="navbar-toggler">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarColor02" class="collapse navbar-collapse">
    <form class="form-inline">
      <input
        type="search"
        placeholder="Search"
        aria-label="Search"
        class="form-control mr-sm-2 fa fa-search"
        style="width:450px" /><i
        class="fa fa-search text-primary bg-light nm-3 pt-2"
        aria-hidden="true"></i>
      <button class="btn bg-white text-primary w-15 mx-3" routerLinkActive="router-link-active" (click)="login()">Login</button>
      <button class="btn bg-white text-primary w-15 mx-3" routerLinkActive="router-link-active" (click)="logout()">logout</button>
    </form>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="#" class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Features</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Pricing</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">About</a>
      </li>
    </ul>
  </div>
</nav>