.h-0 {
  position: relative;
  top: -3px;
  left: 2px;
  height: 15px;
}
.nm-3 {
  margin-left: -12px;
  height: 31px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: white !important;
  top: 0.7px;
  position: relative;
}
